@import "fonts/FontsSass.sass"

a
  text-decoration: none
  color: red

ul
  padding: 0
  margin: 0

*
  font-family: sans-serif

li
  text-decoration: none
  list-style: none

header
  background-color: #ffffff

hr
  margin: 0

body
  font-family: sans-serif
  background-color: #f4f4f6

.head__wrapper
  max-width: 1600px
  position: relative
  margin-left: auto
  margin-right: auto
  padding-right: 15px
  padding-left: 15px

.container-my
  max-width: 1280px
  position: relative
  margin-left: auto
  margin-right: auto
  padding-right: 15px
  padding-left: 15px

.header-container
  padding: 20px
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  flex-wrap: wrap

.header__graphic-logo
  padding: 5px

  img
    max-width: 100%

.header__div-slogan
  padding-top: 10px

  img
    max-width: 100%

.header__div-nav
  flex: 0 0 40%

  nav
    margin: auto

    ul
      li
        display: inline-block
        font-family: Circe_Rounded_Regular
        font-size: 15px
        margin-right: 3%

        &:last-child
          margin: 0

        a
          color: #595f6f

          &:hover
            text-decoration: none
            color: #2e86fc

      .icon
        display: none


.header__phone-number
  .phone__Number
    color: #2e86fc
    font-weight: 700
    font-family: Circe_Rounded_Alt_Extra_Bold

.nav__active__li
  color: #2e86fc
  position: relative

  &:before
    content: ""
    border-top: 3px solid #2e86fc
    position: absolute
    width: 100%
    left: 2px
    top: 55px


.btn-online-order
  background-color: #2e86fc
  border-radius: 28px
  border: 1px solid #2e86fc
  display: inline-block
  cursor: pointer
  color: #ffffff
  font-family: Circe_Rounded_Regular
  font-size: 16px
  padding: 15px 35px
  text-decoration: none
  text-shadow: 0px 1px 0px #2f6627

#drop-down-menu-1
  ul
    text-align: center
    padding: 20px
    margin: 0

.drop-down-menu-1__li
  display: inline-block
  font-family: Circe_Rounded_Light
  font-size: 15px
  margin-right: 32px

  &:hover
    cursor: pointer


.drop-down-menu__item-image
  img
    margin: 0 auto

.drop-down-menu__item-title
  text-align: center
  font-size: 14px
  font-family: Circe_Rounded_Regular, sans-serif
  color: #595f6f

#drop-down-menu-1 .slick-initialized .slick-slide
  display: flex
  flex-direction: column
  align-items: center
  outline: none

.header-nav-products-list
  display: none

.section-div-title
  margin-top: 135px

  h3
    font-size: 55px
    font-family: Circe_Rounded_Regular
    display: inline-block
    color: #09294f

    &::before
      content: ""
      border-top: 7px solid #2e86fc
      position: absolute
      width: 140px
      top: 85px
      left: 20px

.section-1
  height: 775px

.section-1__nav-product__ul
  width: 50%
  margin: 0

  &:hover
    cursor: pointer

.section-1__Menu
  font-size: 20px
  color: #595f6f
  font-family: Circe_Rounded_Bold

  &:hover
    cursor: pointer

.section-1__nav-product__ul__li
  padding: 12px 12px 12px 35px
  font-size: 16px
  font-family: Circe_Rounded_Regular

.section-1__product-image
  .section-1__product-image-first-image
    z-index: 0
    position: absolute
    top: 175px
    left: 50%
    margin-right: -50%
    transform: translate(-95%, 75%)

    img
      width: 150%

  .section-1__product-image-second-image
    z-index: 1
    position: absolute
    top: 0
    left: 50%
    margin-right: -50%
    transform: translate(-80%, 65%)

    img
      width: 100%


.section-2
  .section-2__div__subtitle
    font-size: 32px
    color: #2a2a2a
    font-family: Circe_Rounded_Regular

  .section-2__text
    .section-2__text-first-p
      padding-top: 50px
      padding-bottom: 50px

    p
      font-size: 20px
      font-family: Circe_Rounded_Regular

.section-2__photo
  height: 1060px
  position: relative
  overflow: hidden

.section-2__photo__first-photo, .section-2__photo__second-photo
  display: flex
  flex-direction: column
  position: absolute
  width: 1920px

  img
    max-width: 100%
    max-height: 100%

.section-2__photo__first-photo
  top: 0
  right: 29%

.section-2__photo__second-photo
  bottom: 0
  left: 29%

.section-2__GOST
  margin-top: 50px
  text-align: center
  background: #fff
  border-top: 5px solid #2e86fc
  padding: 50px

  .section-2__GOST__text-1
    font-size: 22px
    font-family: Circe_Rounded_Regular
    color: #2a2a2a

  .section-2__GOST__text-2
    font-size: 28px
    font-family: Circe_Rounded_Bold
    color: #2a2a2a

.section-2__GOST-2
  text-align: center
  margin-top: 60px
  padding: 10px

  .section-2__GOST-2__text
    font-size: 24px
    color: #396095
    font-family: Circe_Rounded_Regular, sans-serif

.section-3
  .section-3__img
    height: 100%
    width: 100%

  img
    padding: 20px
    width: 100%

  .section-3__certificate-div
    text-align: center


.section-4__block
  display: flex
  flex-direction: row
  align-items: center
  margin-bottom: 20px

.section-4__block-news
  padding-left: 10px
  width: 50%
  height: 100%
  background-color: #ffffff

.section-4__block-news__title
  font-size: 32px
  font-weight: 700
  font-family: Circe_Rounded_Regular

.section-4__block-news__text
  font-size: 20px
  font-family: Circe_Rounded_Regular

.section-4__block-news__link
  font-size: 24px
  font-family: Circe_Rounded_Regular
  color: #2e86fc
  text-decoration: underline

  &:hover
    text-decoration: none
    color: red

.section-4__img-block
  padding: 0
  width: 50%
  height: 100%

  img
    width: 100%
    height: 100%

.section-4__link
  font-size: 24px
  font-family: Circe_Rounded_Regular, sans-serif
  text-align: center

.section-5__div__subtitle
  font-size: 32px
  font-family: Circe_Rounded_Regular
  color: #2a2a2a
  margin-bottom: 80px

.section-5__img-block
  padding: 30px

  img
    width: 100%


.visible
  display: block

.invisible
  display: none

#invisible
  display: block

#invisible
  display: none

.active_Menu
  color: #2e86fc

.active_Menu_one_arrow
  color: #2e86fc

  &:before
    content: ">"

.box-shadow-header
  box-shadow: -1px 15px 11px -16px #111






.section-contact-6
  width: 100%
  margin-bottom: 32px

.section-info
  display: flex
  .requisites-first, .requisites-second
    flex: 0 0 50%

.requisites-first
  .section-6__requisites__p-text
    color: #2a2a2a
    font-size: 20px
    margin-bottom: 60px
    font-family: Circe_Rounded_Regular
    .section-6__requisites__span-Title
      font-family: Circe_Rounded_Bold
      color: #09294f
    .section-6__requisites__mail
      color: #2e86fc

.requisites-second
  position: relative
  &:before
    content: ""
    border-top: 4px solid #2e86fc
    position: absolute
    width: 100%
    left: 0px
    top: 0px
  .section-6__requisites-second__div
    background: #fff
    padding: 68px
    margin-bottom: 40px

  .section-6__requisites-s__title
    font-family: Circe_Rounded_Regular
    font-size: 24px
    color: #2a2a2a

  .section-6__requisites-s__p-text
    font-size: 17px
    color: #2a2a2a
    font-family: Circe_Rounded_Regular
  .section-6__requisites-s__mail
    font-size: 17px
    color: #2e86fc
    font-family: Circe_Rounded_Regular

  .section-6_requisites-s__download
    margin-left: 30%
    color: #2e86fc
    font-size: 17px
    font-weight: 700
    font-family: Circe_Rounded_Bold
  .location
    position: absolute
    &:before
      content: ""
      border-top: 4px solid #2e86fc
      position: absolute
      width: 100%
      left: 0px
      top: 0px
    img
      width: 100%






.section-news-7
  h3
    margin-bottom: 36px
.section-news-7-block
  .section-news-7-block__p-text
    font-size: 20px
    color: #2a2a2a
    margin-bottom: 60px
    font-family: Circe_Rounded_Regular
  .section-news-7-block__slide
    max-width: 1280px
    margin: 70px 0
    img
      width: 100%
      display: block
      height: auto
  .slick-dots
    display: flex
    justify-content: center
    margin: 0
    padding: 2rem 0
    list-style-type: none
    li
      margin: 0 0.25rem
    button
      display: block
      width: 1rem
      height: 1rem
      padding: 0
      border: none
      border-radius: 100%
      background-color: #c4c4cc
      text-indent: -9999px
    li.slick-active
      button
        background-color: #ffffff
  .slick-prev, .slick-next
    &:before
      content: ""
  .slick-prev
    border-left: 0 solid transparent
    border-right: 15px solid #ffffff
    border-top: 10px solid transparent
    border-bottom: 10px solid transparent
    left: 10px
    z-index: 1

  .slick-next
    border-right: 0 solid transparent
    border-left: 15px solid #ffffff
    border-top: 10px solid transparent
    border-bottom: 10px solid transparent
    right: 10px
  .section-news-7-block__video
    margin-bottom: 70px





.section-8
  li, p
    font-size: 20px
    color: #2a2a2a
    font-family: Circe_Rounded_Regular
.section-8__contact
  h3
    font-size: 55px
    font-family: Circe_Rounded_Regular
    display: inline-block
    color: #09294f
    margin-bottom: 40px
    &:before
      content: ""
      border-top: 7px solid #2e86fc
      position: absolute
      width: 140px
      top: -55px
      left: 20px

.section-8__download-block
  margin-bottom: 45px
  display: flex
  flex-direction: row
  justify-content: space-between
  .section-8__download-block__item
    display: flex
    align-items: center
    padding: 15px
    border-radius: 5px
    background-color: #2e86fc
    .section-8__download-block__item-date
      display: block
    .section-8__download-block__item-img
      margin-right: 15px

    a, span
      color: #ffffff
      font-family: Circe_Rounded_Regular
    a
      font-size: 12px
    span
      font-size: 10px

.section-8__main-block
  display: flex

.section-8__main-block__left-block
  flex: 0 0 50%
  .section-8__main-block__left-block__p-text-f
    margin-bottom: 60px
  p
    margin-right: 50px

.section-8__main-block__right-block
  flex: 0 0 50%
  padding-top: 80px
  padding-left: 110px
  background-color: #ffffff
  position: relative
  &:before
    content: ""
    border-top: 4px solid #2e86fc
    position: absolute
    width: 100%
    left: 0px
    top: 0px

  ul
    padding-left: 30px
  span
    padding: 0 10px


.section-8__video-block
  width: 100%
  margin: 80px 0

.section-8__info-block
  margin-bottom: 80px
  ul
    padding-left: 35px
    li
      padding-left: 35px
      list-style-type: disc
  .section-8__info-block__p
    margin-top: 60px

.section-8__span
  font-family: Circe_Rounded_Bold
  font-size: 24px
  color: #2a2a2a



.container-online-order
  max-width: 846px
  position: relative
  margin-left: auto
  margin-right: auto
  padding-right: 15px
  padding-left: 15px

.section-9
  .modal-dialog
    max-width: 840px !important
  .modal-header
    .modal-title
      margin: 0 auto
      font-size: 36px
      color: #2e86fc
      font-family: Circe_Rounded_Regular
  .modal-body
    label
      font-size: 26px
      color: #2a2a2a
      font-family: Circe_Rounded_Regular
      padding: 20px 0 10px 3px
      margin: 0
      display: block

    .radioInput
      visibility: hidden
    .labelRadio
      display: inline-block
      cursor: pointer
      color: #004eff
      font-size: 22px
      font-family: Circe_Rounded_Bold
      &:focus
        color: #5874b3
      &:visited
        color: red
    .modal-footer
      justify-content: space-around
    .section-9__modal-body__input-submit
      background-color: #2e86fc
      border-radius: 28px
      border: 1px solid #2e86fc
      display: inline-block
      cursor: pointer
      color: #ffffff
      font-family: Circe_Rounded_Bold
      font-size: 16px
      padding: 15px 35px
      text-decoration: none
      float: right
      margin-top: 20px


    .inputFile
      overflow: hidden
      position: absolute
      z-index: -1
      width: 0.1px
      height: 0.1px
      opacity: 0
    .labelFile
      display: inline-block
      cursor: pointer
      color: #004eff
      font-size: 22px
      font-family: Circe_Rounded_Bold
      &:hover
        color: #5874b3

  .section-9__download-block__item
    display: flex
    align-items: center
    padding: 15px
    border-radius: 5px
    background-color: #2e86fc
    .section-9__download-block__item-date
      display: block
    .section-9__download-block__item-img
      margin-right: 15px
    .section-9__download-block__text-div
      span
        color: #ffffff

.visibilityHidden
  visibility: hidden

@import "media/media.sass"